.jfx-slider{
    -jfx-default-thumb: #ffffff;
}
.jfx-slider > .thumb{
    -fx-background-color : #ffffff;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
}



.jfx-slider .track {
    -fx-pref-height:4;
    -fx-background-color : #5A5A5A;
}